<main id="admin">
	<canvas
		id="myChart"
		width="300"
		height="300"
		data-users="<%= users %>"
		data-stories="<%= stories %>"
		data-comments="<%= comments %>"
		data-categories="<%= categories %>"
	></canvas>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    
	<script src="/js/admin.js"></script>
</main>
