<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/index.css" />
		<title>Document</title>
	</head>
	<body>
		<header>
            <nav>
                <a href="/">home</a>
				<a href="/contact">contact</a>
				<a href="/about">about-me</a>
				<a href="/authentication">sign-in</a>
			</nav>
		</header>
		<main>
			<section>
				<h2>Latest Article</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt nobis aut aspernatur, sapiente suscipit earum cumque, perferendis nostrum animi aliquid temporibus rem. Facere cupiditate sint minus tenetur amet ipsa ut veniam, ea ad quos obcaecati quisquam a commodi provident repellat, mollitia in. Enim rem ullam doloribus dolores consectetur voluptatem neque commodi veritatis nobis repellat minus consequatur recusandae ipsum illo vel, iusto totam. Vel at numquam doloremque, ut ab quod culpa assumenda commodi, recusandae voluptatum, reprehenderit dignissimos natus perferendis. Fugit quos blanditiis, iusto aliquid maiores repudiandae consequuntur veniam eum sapiente vero corporis voluptatibus temporibus suscipit provident magnam quam omnis reiciendis. Earum facere dolores distinctio sequi quisquam, deleniti reprehenderit quas eligendi, odio, molestias doloribus ex maiores alias fugit? Praesentium molestiae ipsum ducimus.</p>
			</section>
		</main>
		<footer>
			<p>&copy; - Romain Fournier - 2024</p>
			<p>
				Photo de Mikhail Nilov:
				https://www.pexels.com/fr-fr/photo/mer-route-nature-ciel-6943666/
			</p>
		</footer>
	</body>
</html>
