<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/index.css" />
		<title>Document</title>
	</head>
	<body>
		<%- include("partial/header")%>
		<main>
			<a href="/">Back to home</a>

			<form action="/register" method="post">
				<label for="username">Username</label>
				<input type="text" name="username" id="username" required />
				<label for="password">Password</label>
				<input type="password" name="password" id="password" required />

				<button type="submit">Register</button>
			</form>
		</main>
		<%- include("partial/footer")%>
	</body>
</html>
