<main>
	<h2>Add Story</h2>

	<form action="/admin/story/create" method="post" enctype="multipart/form-data">
		<label for="title">Title</label>
		<input type="text" name="title" id="title" required />

		<label for="content">Content</label>
		<textarea name="content" id="content" required></textarea>

		<label for="image-name">Image</label>
		<input type="file" name="img" id="image-name" required />

		<label for="category">Category</label>
		<select name="category_id" id="category">
			<% for (const category of categories) {%>
			<option value="<%= category.id %>"><%= category.label %></option>
			<% } %>
		</select>

		<button type="submit">Create</button>
	</form>
</main>
