<header>
	<nav>
		<a href="/">Application</a>
		<a href="/admin">Back Office</a>
		<a href="/admin/story">Gérer les articles</a>
		<a href="/admin/category">Gérer les catégories</a>
	</nav>
</header>
